/* reset ================================ */
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
    font-family: 'Hiragino Sans', sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
    scroll-behavior: smooth;
  }
  
  body {
    margin: auto;
    max-width: 1920px;
    width: 100%;
    padding: 0;
    background-color: white;
    color: #6c7686;
    align-items: center;
  }
  
  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    display: block;
    text-decoration: none;
    color: #2d3133;
    font-size: 14px;
  }
  
  a:hover {
    transition: all 0.3s ease;
  }
  
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
  h1 {
    font-weight: 600;
  }

  table {
    border-collapse: collapse;
    width: 90%;
    font-size: 10px;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
  
  
  /* top ================================ */
  header {
    height: 45px;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: #f1f1f3 solid 2px;
    color: #fff;
    background-color: #2d3133;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: relative;
  }

  .container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }

  
  
  .head_container {
    height: 100%;
    display: flex;
    height: 40px;
  }

  .head_left {
    padding: 2px 3%;
    width: 50%;
    height: 100%;
    background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
    background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }

  .head_right {
    width: 50%;
    height: 100%;
    text-align: right;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 4px 0;
  }
  
/*テスト用*/
  #preview {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ccc;
}

.input-field {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  min-height: 50px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

  /*左と右を囲う全体のエリア*/
    #wrapper{
        position: relative;/*position stickyの基点にするため relativeをかける*/
        display: flex;/*左エリア、右エリア横並び指定*/
        flex-wrap: wrap;/*ボックスの折り返し可*/
    }

    /*左エリア*/
    #fixed-area{
      /*左固定記述*/
      position: -webkit-sticky;/*Safari用*/
      position: sticky;
      top:0;
      /*横半分50%　縦を100vhにする*/
      width: 250px;
      height: 100vh;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      background-color: #f1f1f1;
      border-right: #f1f1f1 3px solid;
      
      
    }
    
    #fixed-area::-webkit-scrollbar{
      width: 8px;
      height: 10px;
    }
    #fixed-area::-webkit-scrollbar-thumb {
      background: #6c7686;
      border-radius: 20px;
    } 
    #fixed-area::-webkit-scrollbar-track {
      background-color: transparent;
    }

    .fixed-area-name {
      background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
      background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding: 10px 0;
    }

    /*右エリア*/
    #rightarea{
        /*横半分50%にする*/
        position: -webkit-sticky;/*Safari用*/
        position: sticky;
        top:0;
        /*横半分50%　縦を100vhにする*/
        flex-grow: 1;
        height: 100vh;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        scrollbar-width: 20px;
        opacity: 0.5;
        color: #2d3133;
        background-color: black;
    }

    #rightarea::-webkit-scrollbar{
      display: none;
    }

    .top_content {
        height: 150px;
    }
    
    .top_content h2{
        font-size: 23px;
        background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
        background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .content i{
        margin-right: 10px;
    }

    .content {
        font-size: 15px;
        padding: 5px;
    }

    .content:hover {
        background-color: #d3d5da;
        border-radius: 5px;
    }

    .bottom_content {
        padding: 5px;
    }

    .bottom_content p{
        font-size: 15px;
    }

    .bottom_content li {
        position: relative;
        padding-left: 10px;
    }

    .bottom_content li:before {
        content: "";
        position: absolute;
        top: .35em;
        left: 0;
        width: 0;
        height: 0;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent black;
      }

      .login_menu {
        height: 600px;
      }
      
      .auth_page {
        width: 400px;
        height: 520px;
        margin: 0% auto;
        color: #2d3133;
        border-bottom: #bfc4cc solid 2px;
      }
      
      .head_left_login {
        width: 80%;
        margin: 0 auto;
        height: 70px;
        padding: 16px 0 0 20px;
      }
      
      .head_left_login a{
        background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
        background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 28px;
        font-weight: bold;
      }
      
      .auth {
        padding-top: 25px;
      }
      
      .btn {
        width: 100%;
        height: 50px;
        font-size: 15px;
        display: flex;
        padding: 13px 0 0 120px;
        font-weight: bold;
        border-radius: 3px;
        border: #bfc4cc solid 0.5px;
        margin-top: 10px;
      }
      
      .btn:hover {
        cursor: pointer;
      }
      
      .google {
        background-color: white;
      }
      
      .google:hover{
        background-color: rgb(235, 232, 232);
        transition: 0.6s;
      }
      
      .facebook {
        background-color: #1877f2;
        color: white;
      }
      
      .facebook:hover{
        opacity: 0.7;
        transition: 0.6s;
      }
      
      .email_auth {
        display: inline-block;
        width: 100%;
        font-weight: 550;
        font-size: 14px;
        padding-top: 30px;
        
      }
      
      .email_auth input[class="email"] {
        width: 100%;
        height: 40px;
        padding: 10px;
      }
      
      .email_auth input[class="password"] {
        width: 100%;
        height: 40px;
        padding: 10px;
      }

      
      
      .btn_email {
        width: 100%;
        height: 50px;
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        border-radius: 3px;
        border: #bfc4cc solid 0.5px;
        margin-top: 20px;
        margin-bottom: 30px;
        background-color: #2d3133;
        color: white;
      }
      
      .btn_email:hover {
        opacity: 0.7;
        transition: 0.6s;
        cursor: pointer;
      }
      
      .reset_password{
        color: #2d3133;
        font-size: 12px;
        height: 20px;
        width: 170px;
        margin-top: 25px;
        margin: 0% auto;
      }
      
      .create_password{
        color: #2d3133;
        font-size: 12px;
        height: 20px;
        width: 135px;
        font-weight: 550;
        margin: 0% auto;
      }
      
      .login_footer {
        display: flex;
      }
      
      .login_box {
        width: 33.33%;
        height: 65px;
        padding-top: 20px;
      }
      
      .message_login a{
        display: inline-block;
        text-decoration: underline;
        font-size: 12px;
      }
      
      .message_login {
        font-size: 12px;
        padding-left: 25px;
      }

      .email_main {
        height: 400px;
        width: 100%;
        color: #2d3133;
      }

      .email_message {
        width: 50%;
        height: 400px;
        margin: 0 auto;
        background-color: yellowgreen;
      }

      .dataContainer {
        width: 72%;
        margin: 0 auto;
      }

      .table_main {
        padding-bottom: 200px;
      }

      .table_sub_exp li{
        float: left;
        margin-right: 5px;
        font-size: 9px;
      }

      .head_main {
        height: 330px;
        width: 72%;
        max-width: 1600px;
        margin: 0 auto;
      }

      .content_list_main_detaile {
        height: 30px;
        width: 100%;
        display: flex;   
        font-size: 13px;     
      }

      .fa-clock {
        margin-right: 5px;
      }

      .playback-time {
        margin-left: 20px;
      }

      .fa-play-circle {
        margin-right: 5px;
      }

      .sidebar_content .fa-pen {
        padding-left: 10px;
      }

      .head_title {
        height: 80px;
        margin-top: 30px;
      }

      .saveButton {
        position: fixed;
        top: 60px;
        right: 30px;
        font-weight: bold;
        font-size: 1em;
        letter-spacing: 0.1em;
        text-decoration: none;
        color: #2d3133;
        display: inline-block;
        padding: 10px;
        border: none;
        border-radius: 10px;
        background: #f1f1f1;
        box-shadow: 3px 3px #d3d5da;
      }

      .saveButton:hover {
        color: #f1f1f1;
        background-color: #2d3133;
      }

      .saveButton.hide {
        overflow: hidden;
      }
      
      .saveButton.hide span {
        display: none;
      }
      
      .saveButton.hide i {
        margin-right: -5px;
      }
      
      .saveButton.hide:hover {
        color: #f1f1f1;
        background-color: #2d3133;
      }
      
      .saveButton.hide:hover span {
        display: inline-block;
      }
      
      

      .speaker {
        font-size: 15px;
        font-weight: bold;
        padding: 0 10px;
      }

      .editable-cell {
        padding:5px 10px 5px 40px;
        
      }

      
      .time {
        margin-top: 5px;
      }

      .circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }

      .oldName {
        
        margin-right: 25px;
    }
    
    .oldName select {
        appearance: none;
        min-width: 200px;
        height: 2.5em;
        padding: .4em 3.6em .4em .8em;
        border: none;
        border-radius: 3px;
        background-color: #e6edf3;
        font-size: 15px;
        cursor: pointer;
    }
    
    .oldName select:focus {
        outline: 2px solid #2d3133;
    }

    .newName {
      width: 200px;
      height: 2.5em;
      margin-right: 30px;
      background-color: #e6edf3;
      border: none;
      border-radius: 3px;
      font-size: 15px;
      padding: .4em 3.6em .4em .8em;
    }

    .select_name {
      margin-top: 15px;
      height: 120px;
    }

      .update {
        width: 5em;
        height: 2.5em;
        padding: 5px;
        font-size: 15px;
        background-color: #e6edf3;
        border: none;
        border-radius: 3px;
      }

      .update:hover {
        border: #2d3133 solid;
      }

      .name_container {
        display: flex;
        padding-top: 10px;
      }

      .keyword_container {
        display: flex;
        padding-top: 20px;
      }

      #fileDropArea {
        border: 2px dashed #ccc;
        border-radius: 20px;
        width: 90%;
        height: 70%;
        text-align: center;
        padding-top: 60px;
        font-size: 20px;
        color: #ccc;
        margin: 0 auto;
      }

      #fileDropArea:hover {
        background-color: #f9f9f9;
        border-color: #384878;
        cursor: pointer;
      }

      .file_deco {
        padding: 10px 40px;
        background-color: #384878;
        cursor: pointer;
        font-size: 15px;
        margin-top: 25px;
        border-radius: 3px;
      }

      input[type="file"] {
        display: none;
      }

      .file_message {
        margin: 10px 0 0 0; 
        font-size: 15px;
      }

      #uploadButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 1em 2em;
        width: 200px;
        font-size: 18px;
        font-weight: 700;
        background-color: #384878;
        color: #f1f1f3;
        border-radius: 50vh;
        margin-top: 15px;
      }
      
      #uploadButton::after {
        content: '';
        width: 5px;
        height: 5px;
        border-top: 3px solid #f1f1f3;
        border-right: 3px solid #f1f1f3;
        transform: rotate(45deg);
      }
      
      #uploadButton:hover {
        text-decoration: none;
        background-color: #46537a;
      }


      .modelArea {
        display: none;
        position: fixed;
        z-index: 10; /*サイトによってここの数値は調整 */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      
      .modelBg {
        width: 100%;
        height: 100%;
        background-color: rgba(30,30,30,0.9);
      }
      
      .modelWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        width: 70%;
        height: 70%;
        padding: 10px 30px;
        background-color: #fff;
        border-radius: 10px;
      }
      
      .closeModel {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        cursor: pointer;
      }
      
      
      /* 以下ボタンスタイル */
      button {
        cursor: pointer;
      }
      
      .openModel {
        color: #f1f1f3;
        font-weight: bold;
        margin: 0 0 0 20px;
        font-size: 16px;
        background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
        background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
        border-radius: 4px;
        padding: 8px 13px;
        border: transparent 1px solid;
      }
      
      .openModel:hover {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: #FB6DFC solid 1px;
      }
      
      .btn_google {
        width: 100%;
        height: 50px;
        font-size: 17px;
        display: flex;
        padding: 13px 0 0 120px;
        font-weight: bold;
        border-radius: 3px;
        border: #bfc4cc solid 0.5px;
        margin: 20px 0;
      }
      
      .message_login {
        color: black;
        font-size: 14px;
      }
      
      .message_login a{
        color: black;
        display: inline-block;
        text-decoration: underline;
        font-size: 14px;
      }
      
      .modelContents h1{
        font-size: 25px;
        background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
        background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      
      .modelContents p{
        color: black;
      }

      .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        background-color: #f1f1f1;
        transition: width 0.1s;
        z-index: 1;
      }
      
      .sidebar.expanded {
        width: 200px;
      }
      
      .toggle-sidebar {
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background-color: #f1f1f1;
        border: none;
        outline: none;
        border-radius: 50%;
        cursor: pointer;
        z-index: 2;
        transition: right 0.5s;
      }
      
      .open-icon {
        display: block;
        font-size: 20px;
        text-align: center;
      }
      
      .close-icon {
        display: none;
        font-size: 25px;
        text-align: center;
        line-height: 40px;
      }
      
      .sidebar.expanded .toggle-sidebar {
        right: -80px;
      }
      
      .sidebar.expanded .open-icon {
        display: none;
      }
      
      .sidebar.expanded .close-icon {
        display: block;
      }
      
      #right_container {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
      }

      .dim {
        opacity: 0.5;       
        
      }
    
      .sidebar_icons {
        margin-top: 20px;
        height: 45%;
        
      }

      .sidebar_icons_2 {
        height: 30%;
        
      }

      .sidebar_content {
        margin-top: 20px;
        font-size: 20px;
        height: 40px;   
        position: relative;
        
      }

      .sidebar_content p{
        font-size: 10px;
        text-align: center;
      }

      .sidebar_content i {
        margin-left: 5px;
        width: 40px;
        height: 40px;
        
        border-radius: 3px;
        padding-top: 10px;
      }

      .sidebar_content i:hover {
        background-color: #6c7686;
        color: #f1f1f1;
        cursor: pointer;
      }

      .fa-home {
        padding-left: 10px;
      }

      .fa-trash-alt {
        padding-left: 11px;
      }

      .fa-download {
        padding-left: 10px;
      }

      .comment {
        position: absolute;
        top: 4px;
        left: 200%;
        width: 100px;
        transform: translateX(-50%);
        background-color: #2d3133;
        color: #f1f1f1;
        border: 1px solid #2d3133;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: bold;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s linear;
        z-index: 10;
      }
      
      .sidebar_content:hover .comment {
        visibility: visible;
        opacity: 1;
      }

      .comment-two {
        position: absolute;
        top: 4px;
        left: 150%;
        width: 50px;
        transform: translateX(-50%);
        background-color: #2d3133;
        color: #f1f1f1;
        border: 1px solid #2d3133;
        border-radius: 4px;
        padding: 5px 11px;
        font-size: 12px;
        font-weight: bold;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s linear;
        z-index: 10;
      }
      
      .sidebar_content:hover .comment-two {
        visibility: visible;
        opacity: 1;
      }

      .comment-five {
        position: absolute;
        top: 4px;
        left: 190%;
        width: 90px;
        transform: translateX(-50%);
        background-color: #2d3133;
        color: #f1f1f1;
        border: 1px solid #2d3133;
        border-radius: 4px;
        padding: 5px 11px;
        font-size: 12px;
        font-weight: bold;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s linear;
        z-index: 10;
      }
      
      .sidebar_content:hover .comment-five {
        visibility: visible;
        opacity: 1;
      }

      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 100;
        
        /* add any additional styling as needed */
      }
      
      #user-profile {
        align-items: center;
        margin-top: 55px;    
        padding-left: 2px;    
      }
      
      #user-photo {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        
      }

      .fixed-area-contents {
        width: 100%;
        padding: 0 10px;
        height: 100px;
      }

      #user-profile-in-fixed {
        display: flex;
        align-items: center;
        margin-top: 5px;
        padding: 5px;
        border-radius: 4px;
        cursor: pointer;
        
      }

      .line {
        border-bottom: #6c7686 1px solid;
        margin: 10px 0;
      }
      
      #user-photo-in-fixed {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        
      }

      #user-name-in-fixed {
        margin-left: 8px;
      }

      #user-profile-in-fixed:hover {
        background-color: #2d3133;
        color: #f1f1f1;
      }
      
      .fixed-area-content {
        height: 50px;
        width: 100%;
        border-radius: 4px;
        
      }

      .fixed-area-content-link {
        height: 100%;
        width: 100%;
        display: flex;
        border-radius: 4px;
        color: #6c7686;
      }

      .fixed-area-content-link:hover {
        background-color: #2d3133;
        color: #f1f1f1;
      }

      .fixed-area-content-icon {
        width: 40px;
        height: 50px;
        font-size: 17px;
        padding: 10px 0 0 4px;
      }

      .fixed-area-content-text {
        height: 50px;
        flex-grow: 1;
        padding: 12px 0 0 7px;
        font-size: 15px;
      }



      .audio-player {
        position: fixed;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        height: 100px;
        width: 80%;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
        background-color: #f1f1f1;
      }

      .timedisplay {
        width: 95%;
        height: 10px;
        margin: 0 auto;
        font-size: 7px;
      }
      
      .progress-bar {
        height: 8px;
        width: 95%;
        border-radius: 10px;
        background-color: #ddd;
        position: relative;
        margin: 0 auto;
        margin-top: 20px;
        cursor: pointer;
      }

      .progress-bar .loading {
        cursor: wait;
      }
      
      .progress {
        height: 100%;
        width: 0;
        background-color: #6c7686;
        border-radius: 10px;
        position: absolute;
        left: 0;
        top: 0;
      }

      .audio-control-main {
        display: flex;
        width: 100%;
        padding-top: 8px;
        margin: 0 auto;
      }
      
      .controls {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        flex-grow: 1;
        
      }

      .skiptime-controls {
        width: 285px;
        font-size: 14.5px;
        display: flex;
        
      }

      .speed-controls {
        display: flex;
        width: 280px;
        font-size: 15px;
        
      }
      
      .audio-player button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 25px;
        margin: 0 5px;
        color: #2d3133;
      }
      
      button:hover {
        color: #222;
      }

      input[type="range"] {
        -webkit-appearance: none;
        margin-top: 11px;
        height: 8px;
        border-radius: 5px;
        background-color: #ddd;
        outline: none;
      }
      
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #6c7686;
        cursor: pointer;
      }



      #text-area {
        position: relative;
        width: 70%;
        margin: 0 auto;
      }
      
      .editable-container {
        border: 1px solid gray;
        margin: 10px;
        padding: 10px;
      }
      .non-editable {
        font-weight: bold;
        margin-bottom: 10px;
      }
      .editable {
        border: 1px solid black;
        min-height: 50px;
        padding: 5px;
        color: #6c7686;
      }
      .wrapper-content {
        border: #EF0594 solid 1px;
      }
      
      .memo-container {
        width: 100%;
        margin: 0 auto;
      }
      
      .memo-input .ql-editor {
        font-size: 17px;
        width: 100%;
        line-height: 1.5;
        overflow-y: hidden; /* スクロールバーを隠す */
        resize: none; /* リサイズの無効化 */
        white-space: pre-wrap; /* 改行を維持 */
        max-height: 300px; /* 最大の高さを設定 */
      }
      
      .ql-snow .fas {
        font-size: 19px;
        color: #6c7686;
        position: absolute;
        top: 25%;
        left: 30%;
      }
      
      .fa-list-ul, .fa-list-ol, .fa-quote-left {
        top: 25% !important;
        left: 25% !important;
      }
      
      .ql-snow button {
        position: relative !important;
        padding: 20px !important;
        border-radius: 5px !important;
      }
      
      .ql-snow button:hover {
        background-color: #ccc !important;
      }
      
      .ql-toolbar {
        height: 50px;
        background-color: #f1f1f3; 
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-width: 3px !important;
        padding-left: 15px !important;
      }
      
      .ql-container {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-width: 3px !important;
      }
      
      .toolbar-divider {
        display: inline-flex;
        position: absolute;
        border-left: 2px solid #ccc;
        height: 30px;
        margin-right: 25px;
        top: 12px;
      }
      
      .ql-snow {
        display: flex;
        align-items: center;
        height: 50px;
        position: relative;
      }
      
      .tooltip {
        position: absolute;
        background-color: #333;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 14px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s;
        white-space: nowrap;
        z-index: 1000;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
      }
      
      .tooltip::after {
        content: "";
        position: absolute;
        bottom: -8.5px;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #333 transparent transparent transparent;
      }
      
      .fas:hover .tooltip {
        visibility: visible;
        opacity: 1;
      }
      
      
      .editable-container {
        position: relative;
      }
      
      .add_cell {
        width: 100%;
        height: 10px;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
      }
      
      .editableAddButton {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        cursor: pointer;
      }
      
      .add_cell:hover .editableAddButton {
        display: block;
      }
      
      .editableAddButton:before {
        content: "メモを上段に追加する";
        position: absolute;
        top: -25px;
        left: -100%;
        width: 150px;
        padding: 5px;
        background-color: #333;
        color: #fff;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }
      
      .editableAddButton:hover:before {
        opacity: 1;
        visibility: visible;
        top: -35px;
      }
      
      .memo-header {
        display: flex;
        align-items: center;
        /* 追加: 要素を左右に寄せる */
        justify-content: space-between;
      }

      .delete-icon-memo {
        padding: 5px;
        border-radius: 5px;
        background: none;
        border: none;
        font-size: 19px;
        cursor: pointer;
        position: relative; /* 変更: position を relative に変更 */
        outline: none;
        color: #6c7686;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .delete-icon-memo i {
        margin-right: 5px;
      }

      .delete-icon-memo[data-tooltip]:hover::after {
        content: attr(data-tooltip);
        position: absolute;
        top: -30px;
        left: 57%;
        transform: translateX(-50%);
        background-color: #333;
        color: #fff;
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
        border-radius: 3px;
        white-space: nowrap;
        z-index: 100;
      }

      .delete-icon-memo:hover {
        color: #C15033;
      }
      
      .delete-icon-memo[data-tooltip]:hover::before {
        content: '';
        position: absolute;
        top: -0.25rem;
        left: 57%;
        transform: translateX(-50%);
        border-width: 0.25rem;
        border-style: solid;
        border-color: #333 transparent transparent transparent;
      }

      
      

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



  /*for tablet*/
  @media (max-width: 1000px) {

  }
  /*for smartphone*/
  @media (max-width: 670px) {
    
  }