/* reset ================================ */
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
    font-family: 'Hiragino Sans', sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
    scroll-behavior: smooth;
  }
  
  body {
    margin: auto;
    max-width: 1920px;
    width: 100%;
    padding: 0;
    background-color: #f6faff;
    color: #6c7686;
    align-items: center;
  }
  
  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    display: block;
    text-decoration: none;
    color: #2d3133;
    font-size: 14px;
  }
  
  a:hover {
    transition: all 0.3s ease;
  }
  
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
  h1 {
    font-weight: 600;
  }
  
  
  /* top ================================ */
  .container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }

  header {
    max-width: 1920px;;
    width: 100%;
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /* 見た目を優先するためのスタイル */
    display: flex;
    align-items: center;
  }

  .nav {
        margin: 0 0 0 auto;
    }

  header h1 a{
    margin: 0; padding: 0;
    font-size: 30px;
  }

  header a {
    text-decoration: none;
    color: #f1f1f3;
  }

  header ul {
    list-style: none;
    margin: 0;
    display: flex;
  }

  .nav_item {
    padding-top: 5px;
  }

  header li {
    margin: 0 0 0 20px;
    font-size: 13px;
  }

  header li a:hover {
    background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
    background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
  .main-visual {
    width: 100%;
    max-width: 1920px;
    height: 700px;
    padding-top: calc(300 / 1000 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
    background: url('../images/background.jpeg') center center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }

 .main-visual h1 {
    font-size: 35px;
 }
 

 .login_btn {
    background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
    background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
    border-radius: 4px;
    padding: 5px 7px;
    border: transparent 1px solid;
  }

  .login_btn:hover {
    color: #f1f1f3;
    border: #FB6DFC solid 1px;
  }

  .login_btn_free {
    background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
    background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
    border-radius: 25px;
    padding-top: 10px;
    width: 200px;
    height: 50px;
    color: #f1f1f3;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    
  }

  .login_btn_free:hover {
    display: inline-block;
    background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
    background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
    background-size: 300% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientEffect 1s infinite alternate;
    border: #FB6DFC 1px solid;
    
  }

  @keyframes gradientEffect {
    from {background-position: left}
    to {background-position: right}
  }

  .top_message {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #f1f1f3;
    font-weight: bold;
  }

  .top_message_sub {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #f1f1f3;
  }

  .about_wrapper {
    height: 710px;
    padding: 30px 4% 10px;
    background-color: black;
  }

  .about_service_wrapper {
    height: 700px;
    padding: 30px 4% 10px;
    background-color: black;
  }

  .title {
    height: 180px;
    color: #f1f1f3;
    text-align: center;
  }

  .title h2 {
    display: inline-block;
    background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
    background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title p {
    font-size: 32px;
    font-weight: bold;
  }


  .contents_use_case {
    height: 650px;
    width: 100%;
    display: flex;
  }

  .about_use_wrapper {
    height: 1510px;
    padding: 30px 4% 10px;
    background-color: black;
  }

  .use_case {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 0px 2% 0px;
    height: 650px;
  }

  .case {
    width: 520px;
  }

  .case_wrapper_left {
    margin: 0px 0% 0px;
    height: 550px;
    width: 100%;
    padding-right: 10px;
    color: #f1f1f3;
  }

  .case_wrapper_left h2 {
    margin: 5px 0px;
  }

  .case_wrapper_right h2 {
    margin: 5px 0px;
  }

  .case_wrapper_left p {
    font-size: 14px;
  }

  .case_wrapper_right p {
    font-size: 14px;
  }

  .case_wrapper_right {
    margin: 100px 0% 0px;
    height: 550px;
    width: 100%;
    padding-left: 10px;
    color: #f1f1f3;
  }

  .usecase_image { /*8:10*/
    height: auto;
    width: 100%;
    border-radius: 5px;
  }

  .content {
    height: 500px;
    width: 33.3333333333%;
    padding: 15px 1.5% 5px;
  }

  .price_comment {
    width: 90%;
    color: #f1f1f3;
    margin: 0 auto;
    padding-top: 5px;
  }

  .box {
    width: 100%;
    max-width: 350px;
    height: 400px;
    background-color: #6c7686;
    color: #f1f1f3;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px 1.5% 5px;
  }

  .price_info {
    text-align: center;
    font-size: 22px;
    height: 135px;
    width: 100%;
    max-width: 280px;
    border-bottom: #f1f1f3 1px solid;
    margin: 0 auto;
  }

  .price_note{
    font-size: 17px;
    font-weight: bold;
  }

  .content_info {
    text-align: center;
    height: 45px;
    padding: 15px 1.5% 5px;
  }

  .content_detail {
    height: 190px;
    width: 75%;
    min-width: 230px;
    margin: 0 auto;
  }

  .contents_price {
    height: 550px;
    width: 100%;
    display: flex;
    padding-top: 20px;
  }

  .content p {
    font-size: 15px;
  }

  .content img {
    max-height: 45%;
    height: auto;
    width: 100%;
  }

  .contents {
    height: 480px;
    width: 100%;
    display: flex;
  }

  .right_content {
    width: 60%;
    height: 100%;
    
  }

  .right_content video {
    width: 100%;
    max-height: 480px;
    height: auto;
    border-radius: 5px;
  }

  .left_content {
    width: 40%;
    height: 100%;
    padding: 0px 4% 10px ;
    color: #f1f1f3;
  }

  .left_content h2 {
    font-size: max(20px, 1.6vw);
  }

  .left_content p {
    font-size: max(14px, 0.9vw);
  }

  

  .about_price_wrapper {
    height: 850px;
    padding: 30px 4% 10px;
    background-color: black;
  }

  .container_price {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  .ball {
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 50px #fff,
      -10px 0 80px #f0f,
      10px 0 80px #0ff;
  }

.orb {
    animation:spin 4s linear infinite;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 10px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 60px violet,
        inset -20px 0 60px blue,
        inset 20px 0 300px violet,
        inset -20px 0 300px blue,
          0 0 50px #fff,
          -10px 0 60px violet,
          10px 0 60px blue;
}

.box_free {
  height: 80px;
}

.login_btn_free2 {
  background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
  background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
  border-radius: 25px;
  padding-top: 10px;
  width: 200px;
  height: 50px;
  color: #f1f1f3;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.login_btn_free2:hover {
  background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
  background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 1s infinite alternate;
  border: #FB6DFC 1px solid;
}




@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



  /*for tablet*/
  @media (max-width: 1000px) {

  }
  /*for smartphone*/
  @media (max-width: 670px) {
    
  }