/* reset ================================ */
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
    font-family: 'Hiragino Sans', sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
    scroll-behavior: smooth;
  }
  
  body {
    margin: auto;
    max-width: 1920px;
    width: 100%;
    padding: 0;
    background-color: #f6faff;
    color: #6c7686;
    align-items: center;
  }
  
  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    display: block;
    text-decoration: none;
    color: #2d3133;
    font-size: 14px;
  }
  
  a:hover {
    transition: all 0.3s ease;
  }
  
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
  h1 {
    font-weight: 600;
  }

  table {
    border-collapse: collapse;
    width: 90%;
    font-size: 10px;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
  
  
  /* top ================================ */
  /*左と右を囲う全体のエリア*/
    #wrapper{
        position: relative;/*position stickyの基点にするため relativeをかける*/
        display: flex;/*左エリア、右エリア横並び指定*/
        flex-wrap: wrap;/*ボックスの折り返し可*/
    }

    /*左エリア*/
    #fixed-area{
    /*左固定記述*/
    position: -webkit-sticky;/*Safari用*/
    position: sticky;
    top:0;
    /*横半分50%　縦を100vhにする*/
    width: 20%;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #FBFBFA;
    padding: 5px 1% 10px;
    color: black;
    border-right: #bfc4cc 2px solid;
    }

    .fixed_area::-webkit-scrollbar{
        display: none;
    }

    /*右エリア*/
    #container{
        /*横半分50%にする*/
        width: 80%;
        background-color: white;
    }

    .top_content {
        height: 150px;
    }
    
    .top_content h2{
        font-size: 23px;
        background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
        background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .content i{
        margin-right: 10px;
    }

    .content {
        font-size: 15px;
        padding: 5px;
    }

    .content:hover {
        background-color: #d3d5da;
        border-radius: 5px;
    }

    .bottom_content {
        padding: 5px;
    }

    .bottom_content p{
        font-size: 15px;
    }

    .bottom_content li {
        position: relative;
        padding-left: 10px;
    }

    .bottom_content li:before {
        content: "";
        position: absolute;
        top: .35em;
        left: 0;
        width: 0;
        height: 0;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent black;
      }

      .login_menu {
        height: 600px;
      }
      
      .auth_page {
        width: 400px;
        height: 520px;
        margin: 0% auto;
        color: #2d3133;
        border-bottom: #bfc4cc solid 2px;
      }
      
      .head_left_login {
        width: 80%;
        margin: 0 auto;
        height: 70px;
        padding: 16px 0 0 20px;
      }
      
      .head_left_login a{
        background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
        background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 28px;
        font-weight: bold;
      }
      
      .auth {
        padding-top: 25px;
      }
      
      .btn {
        width: 100%;
        height: 50px;
        font-size: 15px;
        display: flex;
        padding: 13px 0 0 120px;
        font-weight: bold;
        border-radius: 3px;
        border: #bfc4cc solid 0.5px;
        margin-top: 10px;
      }
      
      .btn:hover {
        cursor: pointer;
      }
      
      .google {
        background-color: white;
      }
      
      .google:hover{
        background-color: rgb(235, 232, 232);
        transition: 0.6s;
      }
      
      .facebook {
        background-color: #1877f2;
        color: white;
      }
      
      .facebook:hover{
        opacity: 0.7;
        transition: 0.6s;
      }
      
      .email_auth {
        display: inline-block;
        width: 100%;
        font-weight: 550;
        font-size: 14px;
        padding-top: 30px;
        
      }
      
      .email_auth input[class="email"] {
        width: 100%;
        height: 40px;
        padding: 10px;
      }
      
      .email_auth input[class="password"] {
        width: 100%;
        height: 40px;
        padding: 10px;
      }

      
      
      .btn_email {
        width: 100%;
        height: 50px;
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        border-radius: 3px;
        border: #bfc4cc solid 0.5px;
        margin-top: 20px;
        margin-bottom: 30px;
        background-color: #2d3133;
        color: white;
      }
      
      .btn_email:hover {
        opacity: 0.7;
        transition: 0.6s;
        cursor: pointer;
      }
      
      .reset_password{
        color: #2d3133;
        font-size: 12px;
        height: 20px;
        width: 170px;
        margin-top: 25px;
        margin: 0% auto;
      }
      
      .create_password{
        color: #2d3133;
        font-size: 12px;
        height: 20px;
        width: 135px;
        font-weight: 550;
        margin: 0% auto;
      }
      
      .login_footer {
        display: flex;
      }
      
      .login_box {
        width: 33.33%;
        height: 65px;
        padding-top: 20px;
      }
      
      .message_login a{
        display: inline-block;
        text-decoration: underline;
        font-size: 12px;
      }
      
      .message_login {
        font-size: 12px;
        padding-left: 25px;
      }

      .email_main {
        height: 400px;
        width: 100%;
        color: #2d3133;
      }

      .email_message {
        width: 50%;
        height: 400px;
        margin: 0 auto;
        background-color: yellowgreen;
      }

      .dataContainer {
        width: 75%;
        margin: 0 auto;
      }

      .table_sub_exp li{
        float: left;
        margin-right: 5px;
        font-size: 9px;
      }

      .head_main {
        height: 250px;
        width: 90%;
        max-width: 1600px;
        background-color: yellowgreen;
        margin: 0 auto;
      }

      .head_title {
        height: 100px;
        background-color: #2589d0;
      }

      .saveButton {
        position: fixed;
        bottom: 20px;
        right: 10px;
        font-weight: bold;
        font-size: 1em;
        letter-spacing: 0.1em;
        text-decoration: none;
        color: #ffffff;
        display: inline-block;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        background: #384878;
        box-shadow: 3px 3px #d3d5da;
      }

      .speaker {
        font-size: 15px;
        font-weight: bold;
        padding: 0 10px;
      }

      .editable-cell {
        padding-left: 40px;
      }
      
      .time {
        margin-top: 5px;
      }

      .circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }

      .oldName {
        
        margin-right: 25px;
    }
    
    .oldName select {
        appearance: none;
        min-width: 200px;
        height: 2.5em;
        padding: .4em 3.6em .4em .8em;
        border: none;
        border-radius: 3px;
        background-color: #e6edf3;
        font-size: 1em;
        cursor: pointer;
    }
    
    .oldName select:focus {
        outline: 2px solid #2589d0;
    }

    .newName {
      width: 200px;
      height: 2.5em;
      margin-right: 30px;
      background-color: #e6edf3;
      border: none;
      border-radius: 3px;
      font-size: 16px;
      padding: .4em 3.6em .4em .8em;
    }

    .select_name {
      background-color: #FB6DFC;
      height: 120px;
    }

      .update {
        width: 5em;
        height: 2.5em;
        padding: 5px;
        font-size: 16px;
        background-color: #e6edf3;
        border: none;
        border-radius: 3px;
      }

      .name_container {
        display: flex;
        padding-top: 10px;
      }

      #fileDropArea {
        border: 2px dashed #ccc;
        border-radius: 20px;
        width: 90%;
        height: 70%;
        text-align: center;
        padding-top: 60px;
        font-size: 20px;
        color: #ccc;
        margin: 0 auto;
      }

      #fileDropArea:hover {
        background-color: #f9f9f9;
        border-color: #384878;
        cursor: pointer;
      }

      .file_deco {
        padding: 10px 40px;
        background-color: #384878;
        cursor: pointer;
        font-size: 15px;
        margin-top: 25px;
        border-radius: 3px;
      }

      input[type="file"] {
        display: none;
      }

      .file_message {
        margin: 10px 0 0 0; 
        font-size: 15px;
      }

      #uploadButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 1em 2em;
        width: 200px;
        font-size: 18px;
        font-weight: 700;
        background-color: #384878;
        color: #f1f1f3;
        border-radius: 50vh;
        margin-top: 15px;
      }
      
      #uploadButton::after {
        content: '';
        width: 5px;
        height: 5px;
        border-top: 3px solid #f1f1f3;
        border-right: 3px solid #f1f1f3;
        transform: rotate(45deg);
      }
      
      #uploadButton:hover {
        text-decoration: none;
        background-color: #46537a;
      }


      .modelArea {
        display: none;
        position: fixed;
        z-index: 10; /*サイトによってここの数値は調整 */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      
      .modelBg {
        width: 100%;
        height: 100%;
        background-color: rgba(30,30,30,0.9);
      }
      
      .modelWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        width: 70%;
        height: 70%;
        padding: 10px 30px;
        background-color: #fff;
        border-radius: 10px;
      }
      
      .closeModel {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        cursor: pointer;
      }
      
      
      /* 以下ボタンスタイル */
      button {
        cursor: pointer;
      }
      
      .openModel {
        color: #f1f1f3;
        font-weight: bold;
        margin: 0 0 0 20px;
        font-size: 16px;
        background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
        background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
        border-radius: 4px;
        padding: 8px 13px;
        border: transparent 1px solid;
      }
      
      .openModel:hover {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: #FB6DFC solid 1px;
      }
      
      .btn_google {
        width: 100%;
        height: 50px;
        font-size: 17px;
        display: flex;
        padding: 13px 0 0 120px;
        font-weight: bold;
        border-radius: 3px;
        border: #bfc4cc solid 0.5px;
        margin: 20px 0;
      }
      
      .message_login {
        color: black;
        font-size: 14px;
      }
      
      .message_login a{
        color: black;
        display: inline-block;
        text-decoration: underline;
        font-size: 14px;
      }
      
      .modelContents h1{
        font-size: 25px;
        background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
        background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      
      .modelContents p{
        color: black;
      }
      

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



  /*for tablet*/
  @media (max-width: 1000px) {

  }
  /*for smartphone*/
  @media (max-width: 670px) {
    
  }