<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcription</title>
    <link rel="stylesheet" href="./public/css/style_page.css">
    <script src="/send_url.js"></script>
    <script src="https://kit.fontawesome.com/8817c22d4f.js" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth__ja.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.css" />
    <script src="./config.js"></script>
    <script>
      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          // User is signed in. Redirect to My Page
          window.location.replace("http://localhost:5000/transcription-2e6e2/asia-northeast1/app/mypage");
        } else {
          // User is not signed in. Show login form
          // Your login form code here
        }
      });
    </script>
  </head>
  <body>
    
  </body>
</html>