<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechInvest</title>
    <link rel="stylesheet" href="./public/css/style_page.css">
    <script src="/send_url.js"></script>
    <script src="https://kit.fontawesome.com/8817c22d4f.js" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
  </head>
  <body>
    <div id="wrapper">
        <div id="fixed-area" class="fixed_area">
            <div class="top_content">
                <h2>Transcription</h2>
                <a class="content" href="#"><i class="fa-solid fa-gear"></i>設定</a>
                <a class="content" href="#"><i class="fa-solid fa-gear"></i>設定</a>
            </div>
            <div class="bottom_content">
                <ul>
                    <li><p>23年1月_部会冒頭.wav</p></li>
                </ul>
            </div>
            
        </div><!--左固定エリア-->
        <div id="container">
          <div id="dataContainer"></div>
          <button id="saveButton">Save Changes</button>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js"></script>
        <script>
            $(window).on('load resize', function() {
            var windowWidth = window.innerWidth;
            var elements = $('#fixed-area');
            if (windowWidth >= 768) {
            Stickyfill.add(elements);
            }else{
            Stickyfill.remove(elements);
            } 
            });
        </script>
        <script src="js/6-4.js"></script>
        <script src="./config.js"></script>
        <script>
          var storage = firebase.storage();
          var storageRef = storage.ref();
          var jsonRef = storageRef.child('test.json');

          jsonRef.getDownloadURL().then(function(url) {
            // Fetch the JSON data
            fetch(url)
              .then(function(response) {
                return response.json();
              })
              .then(function(data) {
                  // Sort the data based on the Column1 field
                  data.sort(function(a, b) {
                    return a.Column1 - b.Column1;
                  });

                  // Display the sorted JSON data
                  var dataContainer = document.getElementById("dataContainer");
                  var output = '<table>';
                  output += '<tr>';
                  output += '<th>Column1</th>';
                  output += '<th>Start</th>';
                  output += '<th>End</th>';
                  output += '<th>Speaker</th>';
                  output += '<th>Text</th>';
                  output += '</tr>';
                  for (var i = 0; i < data.length; i++) {
                    output += '<tr>';
                    output += '<td>' + data[i].Column1 + '</td>';
                    output += '<td>' + data[i].Start + '</td>';
                    output += '<td>' + data[i].End + '</td>';
                    output += '<td>' + data[i].Speaker + '</td>';
                    output += '<td><div class="editable-cell" onmouseover="enableEdit(this)" onmouseout="disableEdit(this)">' + data[i].Text + '</div></td>';
                    output += '</tr>';
                  }
                  output += '</table>';
                  dataContainer.innerHTML = output;
                });
            });
            // Save Changes Button Event Listener
            document.getElementById("saveButton").addEventListener("click", function() {
              // Get all the table cells
              var cells = document.querySelectorAll("table td input");

              // Create an array to store the edited data
              var newData = [];
              for (var i = 0; i < cells.length; i += 5) {
                newData.push({
                  Column1: cells[i].value,
                  Start: cells[i + 1].value,
                  End: cells[i + 2].value,
                  Speaker: cells[i + 3].value,
                  Text: cells[i + 4].value
                });
              }

              // Upload the edited data as a JSON file to Firebase Storage
              var file = new Blob([JSON.stringify(newData)], {type: "application/json"});
              var metadata = {
                contentType: "application/json"
              };
              jsonRef.put(file, metadata).then(function(snapshot) {
                console.log("Data has been saved to Firebase Storage");
              });
            });

             // Function to enable editing on mouse over
            function enableEdit(element) {
              element.contentEditable = true;
            }

            // Function to disable editing on mouse out
            function disableEdit(element) {
              element.contentEditable = false;
            }
        </script>
  </body>
</html>