<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechInvest</title>
    <link rel="stylesheet" href="./public/css/style.css">
    <script src="/send_url.js"></script>
    <script src="https://kit.fontawesome.com/8817c22d4f.js" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
  </head>
  <body>
    <div class="container">
        <header>
            <h1>
                <a href="./">Transcription</a>
            </h1>
            <nav class="nav">
                <ul>
                    <li><a href="#" class="nav_item">USE CASE</a></li>
                    <li><a href="#" class="nav_item">SERVICE</a></li>
                    <li><a href="#" class="nav_item">PRICE</a></li>
                    <li><a href="#" class="nav_item">CONTACT</a></li>

                    <button id="openModel" class="openModel">Log in</button>
                    <section id="modelArea" class="modelArea">
                        <div id="modelBg" class="modelBg"></div>
                        <div class="modelWrapper">
                            <div class="modelContents">
                                <h1 style="text-align: center;">Transcription</h1>
                                <p>Transctiptionは最新AI技術による文字起こしサービス<br>約95%の精度で音声を認識することが可能</p>
                                <button class="btn_google" type="submit" onclick="signIn_google()">
                                    <img src="public/images/icon/google_icon.svg" width="23" height="23">　Googleでログイン
                                </button>
                                <div class="message_login">
                                    <p>Googleの<a href="https://policies.google.com/privacy">プライバシーポリシー</a>と<a href="https://policies.google.com/terms">利用規約</a>が適用されます。</p>
                                    <p>同意したうえで、ログインを行ってください。</p>
                                </div>
                            </div>
                            <div id="closeModel" class="closeModel" style="font-size: 20px;">
                            ×
                            </div>
                        </div>
                    </section>

                </ul>
            </nav>
        </header>
        <div class="main-visual">
            <div class="top_message">
                <h1>音声を最高の精度で認識する</h1>
                <p>Recognizes voice data with the highest accuracy</p>
            </div>
            <div class="top_message_sub">
                <h3>・約95%の精度で文字起こし</h3>
                <p>音声認識の精度が高く、多言語に対応。<br>
                    ほぼ誤りなく、音声を文字起こし可能。</p>
                <br>
                <h3>・利用料金の安さ</h3>
                <p>1時間の使用につき、600円で利用可能。<br>
                    議事録作成を、圧倒的に早く安く実現。</p>
                <br>
                <a href="./" class="login_btn_free">無料ではじめる →</a>
            </div>
        </div>
        <div class="about_use_wrapper">
            <div class="container">
                <div class="title">
                    <h2>Use case</h2>
                    <p>あらゆるシーンで、<br>
                        最高レベルの体験を。</p>
                </div>
                <div class="contents_use_case">
                    <div class="use_case">
                        <div class="case">
                            <div class="case_wrapper_left">
                                <img src="./public/images/annie-spratt-QckxruozjRg-unsplash.jpg" class="usecase_image">
                                <p>For Meeting</p>
                                <h2>ミーティング</h2>
                                <p>議事録の作成に気を取られることなく、<br>
                                Transcriptionを用いて、ミーティングに集中。</p>
                            </div>
                        </div>
                        <div class="case">
                            <div class="case_wrapper_right">
                                <img src="./public/images/video-editing-services-gac41ceb50_1920.jpg" class="usecase_image">
                                <p>For Video Editing</p>
                                <h2>動画編集</h2>
                                <p>煩わしい文字起こしを、<br>
                                これまでにない低価格、高精度で実現。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contents_use_case">
                    <div class="use_case">
                        <div class="case">
                            <div class="case_wrapper_left">
                                <img src="./public/images/campaign-creators-gMsnXqILjp4-unsplash.jpg" class="usecase_image">
                                <p>Hybrid Conference</p>
                                <h2>ハイブリッド会議</h2>
                                <p>オンラインと対面の会議においても、<br>
                                変わらない品質で文字起こしが可能。</p>
                            </div>
                        </div>
                        <div class="case">
                            <div class="case_wrapper_right">
                                <img src="./public/images/girl-g5a805cffc_1920.jpg" class="usecase_image">
                                <p>Multilingual Support</p>
                                <h2>多言語対応</h2>
                                <p>日本語を含む99言語に対応。<br>
                                様々な国との会議で、使用可能。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about_service_wrapper">
            <div class="container">
                <div class="title">
                    <h2>Service</h2>
                    <p>AIを用いて、<br>
                    効率化を図りましょう。</p>
                </div>
                <div class="contents">
                    <div class="left_content">
                        <video src="./public/images/example.mp4" autoplay muted loop></video>
                    </div>
                    <div class="right_content">
                        <h2>・AI文字起こし</h2>
                        <p>AIを用いた音声認識により、<br>
                            95%の精度で文字起こしが可能。</p>
                        <br>
                        <h2>・話者分離</h2>
                        <p>データ内の話者数を指定<br>
                        AIが自動で話者ごとに会話を分類。</p>
                        <br>
                        <h2>・ダウンロード</h2>
                        <p>議事録を、Word、CSV、マークダウン形式で<br>
                            ダウンロードし、簡単に編集や共有ができる。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about_price_wrapper">
            <div class="container_price">
                <div class="title">
                    <h2>Price</h2>
                    <p>低価格で、<br>
                        高品質な音声認識を。
                    </p>
                </div>
                <div class="box_free">
                    <a href="./" class="login_btn_free2">無料ではじめる →</a>
                </div>
                <div class="contents_price">
                    <div class="content">
                        <div class="box">
                            <div class="price_info">
                                <p>Personal</p>
                                <h1><span style="font-size: 17px;">￥</span>598<span style="font-size: 17px;">/月</span></h1>
                                <p class="price_note">音声認識：1時間分*</p>
                            </div>
                            <div class="content_info">
                                <p>Personalプランの全機能</p>
                            </div>
                            <div class="content_detail">
                                <h4>・保存領域：10GB</h4>
                                <h4>・キーワード検索</h4>
                                <h4>・テキスト編集</h4>
                                <h4>・テキストダウンロード</h4>
                            </div>
                        </div>
                        <div class="price_comment">
                            <p>*Personalプランの超過時間に関しては、598円/１時間で利用にいただけます。</p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="box">
                            <div class="price_info">
                                <p>Starter<span style="background: linear-gradient(135deg, #EF0594 0%, #FB6DFC 100%);
                                    background: -webkit-linear-gradient(-45deg, #EF0594 0%, #FB6DFC 100%);
                                    padding: 2px 3px;
                                    font-size: 13px;
                                    margin-left: 6px;
                                    border-radius: 4px;
                                    font-weight: bold;">おすすめ</span></p>
                                <h1><span style="font-size: 17px;">￥</span>4,980<span style="font-size: 17px;">/月</span></h1>
                                <p class="price_note">音声認識：10時間分*</p>
                            </div>
                            <div class="content_info">
                                <p>Starterプランの全機能</p>
                            </div>
                            <div class="content_detail">
                                <h4>・保存領域：100GB</h4>
                                <h4>・文字起こし内容の要約作成</h4>
                                <h4>・翻訳機能29言語</h4>
                                <h4>・キーワード検索</h4>
                                <h4>・テキスト編集</h4>
                                <h4>・テキストダウンロード</h4>
                            </div>
                        </div>
                        <div class="price_comment">
                            <p>*Starterプランの超過時間に関しては、498円/１時間で利用にいただけます。</p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="box">
                            <div class="price_info">
                                <p>Business</p>
                                <h1><span style="font-size: 17px;">￥</span>39,800<span style="font-size: 17px;">/月</span></h1>
                                <p class="price_note">音声認識：100時間分*</p>
                            </div>
                            <div class="content_info">
                                <p>Businessプランの全機能</p>
                            </div>
                            <div class="content_detail">
                                <h4>・保存領域：1,000GB</h4>
                                <h4>・文字起こし内容の要約作成</h4>
                                <h4>・翻訳機能29言語</h4>
                                <h4>・キーワード検索</h4>
                                <h4>・テキスト編集</h4>
                                <h4>・テキストダウンロード</h4>
                            </div>
                        </div>
                        <div class="price_comment">
                            <p>*Businessプランの超過時間に関しては、398円/１時間で利用にいただけます。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="line"></div>
                <div class="footer_content">
                    <nav class="foot_nav">
                        <ul>
                            <li><a href="#" class="foot_nav_item">USE CASE</a></li>
                            <li><a href="#" class="foot_nav_item">SERVICE</a></li>
                            <li><a href="#" class="foot_nav_item">PRICE</a></li>
                            <li><a href="#" class="foot_nav_item">CONTACT</a></li>
                            <li><a href="#" class="foot_nav_item">利用規約</a></li>
                            <li><a href="#" class="foot_nav_item">プライバシーポリシー</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./items/popup.js"></script>
    <script src="./items/config.js"></script>
    <script>
        const firestore = firebase.firestore();
        // Google Auth
        var provider = new firebase.auth.GoogleAuthProvider();
        function signIn_google() {
        firebase.auth().signInWithPopup(provider)
        .then(result => {
            console.log('ログインしました。');
            console.log(result);
            const userRef = firestore.collection("users").doc(result.user.uid);
            const userData = {
                email: result.user.email,
                displayName: result.user.displayName,
                createdAt: firebase.firestore.Timestamp.fromDate(new Date())
            };

            userRef.set(userData, { merge: true })
                .then(() => {
                console.log("User data stored in Firestore");
                })
                .catch((error) => {
                console.error("Error storing user data in Firestore", error);
                });
                window.location.replace("./note");

        }).catch(error => {
                const signinError = `
                サインインエラー
                エラーメッセージ： ${error.message}
                エラーコード: ${error.code}
                `
                console.log(signinError);
        });
        }
    </script>
  </body>
</html>