<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechInvest</title>
    <link rel="stylesheet" href="./public/css/style.css">
    <script src="/send_url.js"></script>
    <script src="https://kit.fontawesome.com/8817c22d4f.js" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
  </head>
  <body>
    <div class="container">
        <header>
            <h1>
                <a href="/">Transcription</a>
            </h1>
            <nav class="nav">
                <ul>
                    <li><a href="#" class="nav_item">USE CASE</a></li>
                    <li><a href="#" class="nav_item">SERVICE</a></li>
                    <li><a href="#" class="nav_item">PRICE</a></li>
                    <li><a href="#" class="nav_item">CONTACT</a></li>
                    <li><a href="./" class="login_btn" id="login">LOG IN</a></li>
                </ul>
            </nav>
        </header>
        <div class="main-visual">
            <div class="top_message">
                <h1>音声を最高の精度で認識する</h1>
                <p>Recognizes voice data with the highest accuracy</p>
            </div>
            <div class="top_message_sub">
                <h3>・約95%の精度で文字起こし</h3>
                <p>音声認識の精度が高く、多言語に対応しています。音声を文字起こしする際に、ほとんどのエラーを減らすことができます。</p>
                <br>
                <h3>・利用料金の安さ</h3>
                <p>1時間の使用につき、1000円でご利用いただけます。
                    議事録作成を、圧倒的に早く安く行えます。</p>
                <br>
                <a href="./" class="login_btn_free">無料ではじめる →</a>
            </div>
        </div>
        <div class="about_use_wrapper">
            <div class="container">
                <div class="title">
                    <h2>Use case</h2>
                    <p>あらゆるシーンで、<br>
                        最高レベルの体験を。</p>
                </div>
                <div class="contents_use_case">
                    <div class="use_case">
                        <div class="case">
                            <div class="case_wrapper_left">
                                <img src="./public/images/annie-spratt-QckxruozjRg-unsplash.jpg" class="usecase_image">
                                <p>For Meeting</p>
                                <h2>ミーティング</h2>
                                <p>議事録の作成に気を取られることなく、<br>
                                Transcriptionを用いて、ミーティングに集中。</p>
                            </div>
                        </div>
                        <div class="case">
                            <div class="case_wrapper_right">
                                <img src="./public/images/video-editing-services-gac41ceb50_1920.jpg" class="usecase_image">
                                <p>For Video Editing</p>
                                <h2>動画編集</h2>
                                <p>煩わしい文字起こしを、<br>
                                これまでにない低価格、高精度で実現。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contents_use_case">
                    <div class="use_case">
                        <div class="case">
                            <div class="case_wrapper_left">
                                <img src="./public/images/campaign-creators-gMsnXqILjp4-unsplash.jpg" class="usecase_image">
                                <p>Hybrid Conference</p>
                                <h2>ハイブリッド会議</h2>
                                <p>オンラインと対面の会議においても、<br>
                                変わらない品質で文字起こしが可能。</p>
                            </div>
                        </div>
                        <div class="case">
                            <div class="case_wrapper_right">
                                <img src="./public/images/girl-g5a805cffc_1920.jpg" class="usecase_image">
                                <p>Multilingual Support</p>
                                <h2>多言語対応</h2>
                                <p>日本語を含む99言語に対応。<br>
                                様々な国との会議で、使用可能。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about_service_wrapper">
            <div class="container">
                <div class="title">
                    <h2>Service</h2>
                    <p>AIを用いて、<br>
                    効率化を図りましょう。</p>
                </div>
                <div class="contents">
                    <div class="right_content">
                        <video src="./public/images/example.mp4" autoplay muted loop></video>
                    </div>
                    <div class="left_content">
                        <h2>・AI文字起こし</h2>
                        <p>AIを用いた音声認識により、<br>
                            95%の精度で文字起こしが可能です。</p>
                        <br>
                        <h2>・話者識別</h2>
                        <p>どの人が発言したかを検知して<br>
                            識別した話者に対して、IDを振り当てます。*</p>
                        <br>
                        <h2>・ダウンロード</h2>
                        <p>議事録を、Word、CSV、マークダウン形式で<br>
                            ダウンロードし、簡単に編集や共有ができる
                        </p>
                        <br>
                        <p class="note">*検知可能な人数の下限は2人から、上限は10人です。<br>
                            &ensp;人数が多くなると検出精度が下がります。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about_wrapper">
            <div class="container_price">
                <div class="title">
                    <h2>Price</h2>
                    <p>低価格で、<br>
                        高品質な音声認識を。
                    </p>
                    <a href="./" class="login_btn_free2">無料ではじめる →</a>
                </div>
                <div class="contents">
                    <div class="content">
                        
                    </div>
                    <div class="content">
                    </div>
                    <div class="content">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>